body {
  background-color: black;
  }



/* HOME  */
.main-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: rotation 25s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}



/* HOROSCOPE BUTTONS */

.horoscope-btn{
  height: 100px;
  width: 100px;
}