body {
  background-color: black;
  }



/* HOME  */
.main-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* HOROSCOPE BUTTONS */

.horoscope-btn{
  height: 100px;
  width: 100px;
}